
.footer{
    background-color:#FFFFFF ;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .footerBox{
    /* position: absolute; */
    border-top: 1px solid #D8D8D8;
    height:55px;
    width: 100%;
  }
  
.footerInner {
    display: flex;
    height: 32px;
    margin: 11.5px 32px 11.5px 40px;
    color: #000;
    justify-content: space-between;
}
  
  /* .outerFlex{
    display: flex;
    flex-direction: column;
    height: 31px;
  } */
  
  .imgFlex{
    display:flex;
    margin-top: 2px;
    height: 12px;
    align-items: center;
    font-weight: 500;
  }

  
  .sameFlex{
    display: flex;
    height: 30px;
    align-items: center;
    cursor: default;
  }
  
  .flexCol{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  
.clock{
    height:18px ;
    width: 18px;
  }
  
  .upperText{
    font-size: 16px;
    font-weight: 600;
    height: 20px;
  }
  
  .lowerText{
    display: flex;
    align-items: left;
    margin-top: 4px;
    font-size: 10px;
  }

  .footImg {
    width: 110px;
    height: 30px;
   }

   .footerText{
    display: block;
    margin-top: 6px;
    margin-left: 12px;
    height: 8px;
    font-size: 10px;
    text-align: left;
   }

  .bottomInfo{
    color:#6D7280;
    align-items: center;
    display: flex;
    margin: auto;
    font-size: 8px;
    padding: 5px 0px;
  }