.black-header {/* change for ipads*/
    background-color: #ffffff;
    height: 60px;
    /* Scale the height relative to the parent container */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Allow content to wrap if necessary */
    align-items: center;
    z-index: 10;
    box-sizing: border-box;
  }
  
  /* Header icon container */
  .header-icon-container {
    background-color: #ffffff;
    padding-left: 64px;
    height: 16px;
    display:flex;
    gap:32px;
    align-items: center;
    justify-content: center;
  }
  
  /* Header icon style */
  .header-icon {
    width: 18px;
    height: 24px !important;
  }

  .head-a{
    width: 24px;
    height: 24px !important;
  }
  
  .header_heading{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    cursor: pointer;
    height: 16px;
    width: 45px;
    line-height: 1;
  }
  
  .sideIcon {
    width: 101.11px;
    height: 40px !important;
    border-radius: 999px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    background-color: #a47764;
    color: #000000;
    margin-right: 64px;
    padding: 13px 24px;
  }
  
  .sideIcon a{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-align: center;
  }

  * {
    box-sizing: border-box;
}